.login-form{
  display: flex;
  padding-left: 100px;
  width: 50%;
  justify-content: space-between;
  margin-top: 100px;
}
/* .login-container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    
  } */
  
  /* .left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    
  
    
  } */
  
  h2 {
    margin-bottom: 20px;
    color: #007bff;
  }
  
  /* form {
    display: flex;
    flex-direction: column;
    width: 600px;
    justify-content: space-between;
    
  } */
  
  .label {
    margin-bottom: 10px;
    font-weight: bold;
    /* color: #555; */
  }
  
  /* .input {
    padding: 10px;
    margin-bottom: 20px;
    border: black;
    border-radius: 5px;
    
  } */
  
  /* .login-button {
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border: none;                                                           
     color: white;
    width: 30%;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
  } */
  
  /* .login-button:hover {
    background-color: black;
  } */
  
  a {
    margin-top: 20px;
    color: #007bff;
  }
  
  .right-container {
    margin-left: 800px;
    margin-top: -250px;
    width: 50%;
    background-color: white;
    background-image: linear-gradient(
      to bottom right,
      white,
      white
    );
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img {
    width: 300px;
  }
  