.start {
    
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 20px;
}

h1 {
    margin-bottom: 10px;
    justify-content: center;
}
label {
    margin-bottom: 10px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 30px;
    margin-top: 30px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  button  {
    background-color: #007bff;
    color: #fff;
    border: none;
    width: 20%;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    padding-left: 10px;
  }